<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WEBTEST1</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VCodeController</servlet-name>
    <servlet-class>servlet.VCodeController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryProvince</servlet-name>
    <servlet-class>servlet.QueryProvince</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryCity</servlet-name>
    <servlet-class>servlet.QueryCity</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryUser</servlet-name>
    <servlet-class>servlet.QueryUser</servlet-class>
  </servlet>

<!-- 
  <filter>
    <filter-name>PermissionCheck</filter-name>
    <filter-class>filter.PermissionCheck</filter-class>
  </filter>
  <filter>
    <filter-name>EncodingCheck</filter-name>
    <filter-class>filter.EncodingCheck</filter-class>
  </filter>
 -->



  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VCodeController</servlet-name>
    <url-pattern>/VCode.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryProvince</servlet-name>
    <url-pattern>/queryProvince.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCity</servlet-name>
    <url-pattern>/queryCity.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUser</servlet-name>
    <url-pattern>/queryUser.do</url-pattern>
  </servlet-mapping>
  
  <!-- 
    <filter-mapping>
    <filter-name>PermissionCheck</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>EncodingCheck</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   -->

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>